In [1]:
#Load dependencies
import pandas as pd
import datetime as dt

#Define data files to import
houstonenergyemployeesrawdata='raw_data/houston_energy_employees.csv'

#Read data files into Panda data frames
houstonenergyemployeesdata=pd.read_csv(houstonenergyemployeesrawdata,parse_dates=['DATE'])

In [3]:
#Calculate employee data by year by using the mean of the monthly employee data
houstonengyemp_df=pd.DataFrame(houstonenergyemployeesdata.groupby(houstonenergyemployeesdata['DATE'].dt.year)['SMU48264201021100001A'].mean()*1000)
houstonengyemp_df.dtypes

SMU48264201021100001A    float64
dtype: object

In [4]:
#Rename index and column
houstonengyemp_df=houstonengyemp_df.rename_axis('year').rename(columns={'SMU48264201021100001A':'employees'}).astype(int)

In [6]:
houstonemp_df.to_sql(index=True)

      employees
year
1990      39600
1991      41300
1992      41700
1993      38800
1994      37700
1995      36800
1996      36100
1997      35900
1998      37400
1999      37300
2000      36100
2001      36700
2002      37800
2003      38700
2004      38700
2005      39100
2006      40600
2007      43400
2008      45300
2009      45900
2010      46700
2011      49500
2012      53100
2013      56800
2014      56000
2015      51500
2016      42600
2017      37700
2018      36700